{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <section class="h-100 wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h2>Réinitialiser votre mot de passe</h2>

                    {{ form_start(resetForm) }}
                        {{ form_row(resetForm.plainPassword) }}
                        <button class="btn btn-primary">Reset password</button>
                    {{ form_end(resetForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
