@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    font-family: Roboto, sans-serif;
}

body{
    margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main{
    height: 100vh;
    flex: 1;
}

.wrapper{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.hero{
    min-height: calc(100vh - 57px);
    background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
}

.btn-check:focus+.btn, .btn:focus{
    box-shadow: none;
}

#contact_message{
    height: 150px;
    resize: none;
    overflow: hidden;
}

.table-thumb{
    height: 32px;
}

.hidden{
    display: none;
}
