{% extends 'base.html.twig' %}

{% block title %}Coinyzer | Classements{% endblock %}

{% block body %}

    <section class="h-100 d-flex flex-column justify-content-center text-center">
        <div class="container">
            
            <button type="button" class="btn btn-primary refresh">refresh</button>
            
            <div class="table-responsive">
                {% include "./components/table_rank.html.twig" %}            	
            </div>

            <div class="pagination justify-content-center">
                {{ knp_pagination_render(cryptocurrencies, 'components/pagination.html.twig') }}
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('js/getData.js')}} "></script>
    <script src="{{asset('js/addWatchlist.js')}} "></script>

{% endblock %}

