<div class="container text-center p-2">
    <form>
        <h1 class="mb-3">Inscription</h1>

        <div class="form-floating mb-3">
            <label for="exampleInputPseudo1" class="form-label">Pseudo</label>
            <input type="text" class="form-control" id="exampleInputPseudo1" aria-describedby="">
        </div>
        <div class="form-floating mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="form-floating mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <label class="form-check-label" for="exampleCheck1">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            Agree Terms
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>